/.idea
/.gradle
/build
/out
/classes
/web
/local.properties
.DS_Store
*.ipr
*.iws
*.iml
*.hprof
/ffmpeg-4.2.3
/ffmpeg

/korvi/.settings/
/.settings/org.eclipse.buildship.core.prefs
/.project
/korvi/.classpath
/korvi/.project
/korvi/bin/
